<a href="/categorias/add" class="btn btn-dark float-right mr-4 mt-0">Nueva Categoria</a>
<br></br>
<div class="row ml-2 mr-2 mt-3">
  
  {{#each categorias}}
  
  <div class="col-md-2">
    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
      <div class="card-body text-center">
        <h2><b>{{ nombre }}</b> </h2>
        <p>{{categoria_usuario.nombre}}</p>
        
        
        <!-- DELETE REQUEST -->
        <div>
        <form action="/categorias/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-sm float-right">Eliminar</button>
        </form>
        <form action="/categorias/edit/{{_id}}">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-primary btn-sm float-left">Editar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  
  {{/each}}
</div>